// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #025956;
$yellow: #FBC117;
$orange: #EE5A36;
$green: #025956;
$gray: #5D666F;
$light-gray: #fff;
$acutal-light-gray:#9AA3BF;
