footer .list-unstyled a {
font-size: 0.9rem;
color: #5D666F;
}

footer {
  background-color: #FEFAFA;
  margin-top: 50px;
  color: red;
}
/* Adjust icon sizes */
footer .fab {
  font-size: 1.3rem;
}

/* Add hover effect to social icons */
footer .fab:hover {
  color: #000000; /* Changes color on hover */
  opacity: 0.8; /* Slightly dim the icon on hover */
}

/* Custom padding for the copyright section */
footer .copyright {
  padding-top: 10px;
  padding-bottom: 10px;
}
.list-unstyled{
  font-size: 14px;
  line-height: 1.5rem;
}
