// Specific CSS for your home-page
#homepage {
  p.alert {
    margin: 0px;
    padding: 0px;
  }
  /* The hero image */
  .hero-image {
    background-image: url("https://res.cloudinary.com/dneopsx5s/image/upload/v1722764325/e9ickst9d6w1gke53bwl.png");
    background-size: cover;
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
  }

  /* Place text in the middle of the image */
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
  // Specific CSS for your home-page
  * {
    margin: 0;
    padding: 0;
  }

  html {
    font-size: 100%;
    box-sizing: border-box;
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  body {
    height: 100%;
    background: #fefafa;
    background-color: #fefafa;
    margin: 0px;
    padding: 0px;
    line-height: 1.3px;
  }

  p.alert {
    margin: 0px;
    padding: 0px;
  }
  /* The hero image */
  .hero-image {
    background-image: url("https://res.cloudinary.com/dneopsx5s/image/upload/v1722764325/e9ickst9d6w1gke53bwl.png");
    background-size: cover;
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
  }

  /* Place text in the middle of the image */
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

  .events {
    width: 50%;
    margin: auto;
    text-align: center;
    padding-top: 30px;
  }

  .event-col p {
    color: #5d666f;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
  }

  .event-col h3 {
    color: #025956;
    text-align: center;
    font-weight: 500;
    font-size: 24px;
    margin: 10px 0;
    letter-spacing: 0.5px;
    text-transform: lowercase;
  }

  h1 {
    color: #025956;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: lowercase;
  }
  p {
    color: #5d666f;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
  }

  .row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
  }

  .event-col {
    flex-basis: 31%;
    background: #fefafa;
    border-radius: 10px;
    margin-bottom: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
    margin-bottom: 10px;
  }

  h3 {
    color: #025956;
    text-align: center;
    font-weight: 150;
    font-size: 12px;
    margin: 10px 0;
    letter-spacing: 0.5px;
    text-transform: lowercase;
  }

  .event-col img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
  }

  .event-col:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
  }

  @media (max-width: 700px) {
    .row {
      flex-direction: column;
    }
    .event-col {
      flex-basis: 100%;
    }
  }

  .cities {
    width: 50%;
    margin: auto;
    text-align: center;
    padding-top: 30px;
    margin-bottom: 50px;
  }

  .cities-col {
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
  }

  .cities-col img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    display: block;
  }

  .layer {
    background-color: transparent;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    transition: 0.5s;
  }

  .layer:hover {
    background: rgba(236, 184, 124, 0.5);
  }

  .layer h3 {
    width: 100%;
    font-weight: 200px;
    letter-spacing: 3px;
    color: #fff;
    font-size: 20px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
  }

  .layer:hover h3 {
    bottom: 49%;
    opacity: 1;
  }
}

.reviews-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  margin: 0 auto;
  justify-content: center;
}

.reviews-section .review-card{
  padding: 30px;
}

.review-card {
  background-color: #fefafa;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}

blockquote {
  font-style: italic;
  color: #333;
  position: relative;
  padding-left: 40px;
}

blockquote::before {
  content: "“";
  font-size: 3rem;
  color: #ee5a36;
  position: absolute;
  left: 0;
  top: -1rem;
}

.reviewer-info {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-left: 20px;
  justify-content: space-around;
  width: 80%;
}

.reviewer-info img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 10px;
  object-fit: cover;
}

.reviewer-info h4 {
  margin: 0;
  font-size: 1.1rem;
  color: #333;
}

.reviewer-info p {
  margin: 0;
  font-size: 0.9rem;
  color: #666;
}

.reviewer-info span {
  color: #ee5a36;
}

.partners {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-between;
  margin-top: 150px;
  margin-bottom: 50px;
}

.partners img {
  height: 80px;
}
