@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

#indexpage {

  /* Container for Cards */
  .container {
    margin-top: 50px;
    padding: 0; /* Remove container padding */
  }

  .row {
    display: flex;
    justify-content: center; /* Center the cards horizontally */
    flex-wrap: wrap;
    margin-left: auto; /* Center content */
    margin-right: auto; /* Center content */
  }

  .col-md-4 {
    padding-left: 5px; /* Reduce left padding */
    padding-right: 5px; /* Reduce right padding */
  }

  /* Banner Image */
  .banner-image {
    width: 100%;
    height: 50vh;
    background-image: url('https://res.cloudinary.com/dneopsx5s/image/upload/v1723281650/Black_and_White_Modern_Black_Friday_Sale_Banner_1600_x_500_px_1_ybsc6p.png');
    background-size: cover;
    background-position: center;
  }

  /* Button Event */
  .button-event {
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }

  .button-event:hover {
    transform: scale(1.05);
  }


  /* Main Title */
  .main-tittle {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: white;
    font-family: Arial, sans-serif;
    height: 50vh;
    padding: 10px;
    border-radius: 5px;
  }

  /* Card Styling */
  .card {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
    position: relative;
    width: 100%;
    max-width: 350px;
    margin-bottom: 15px; /* Space between rows */
  }

  .card:hover {
    transform: translateY(-5px);
    cursor: pointer;
  }

  .card img {
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-bottom: none;
    cursor: pointer;
  }

  .card-body {
    padding: 15px;
    margin-bottom: -15px;
  }


  .card-title {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    color: #025956;
    font-weight: bold;
  }

  .card-text {
    font-size: 0.8rem;
    color: #555;
    line-height: 1.4;
    margin-bottom: 0rem;
  }

  /* Card Footer Styling */
  .card-footer {
    background-color: transparent;
    border-top: none;
    padding: 10px;
    position: relative;
    font-size: 0.9rem;
    color: #555;
  }

  .card-footer .price {
    font-size: 0.9rem;
    color: #025956;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
  }

  .card-footer .btn-primary {
    background-color: #025956;
    border-color: #025956;
    transition: background-color 0.2s;
    display: block;
  }

  .card-footer .btn-primary:hover {
    background-color: #023e40;
    border-color: #023e40;
  }

  .card-footer .date {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 0.9rem;
    font-weight: bold;
    color: #025956;
  }

  .card .icon {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #025956;
    font-size: 1rem;
  }

  .card .heart-icon {
    position: absolute;
    top: 10px;
    right: 35px;
    color: #e74c3c;
    font-size: 1rem;
  }

  /* Second Title */
  .second-title {
    font-size: 22px;
    text-align: center;
    color: #025956;
    margin: 2rem 0;
    position: relative;
    animation: fade-in 3s ease-in-out;
    font-weight: 550;
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
