<div class="main"></div>
<div class="footer">
  <div class="bubbles">
    <div class="bubble" style="--size:5.913823002874614rem; --distance:9.403342808434388rem; --position:87.60177313342913%; --time:2.4870164841582434s; --delay:-3.9624185738066626s;"></div>
    <div class="bubble" style="--size:5.622749870157535rem; --distance:7.48009026483057rem; --position:72.83467594088273%; --time:2.1114182228892373s; --delay:-3.333852307745449s;"></div>
    <div class="bubble" style="--size:2.099998300191685rem; --distance:8.87803653799634rem; --position:24.448424315013252%; --time:2.089123479851174s; --delay:-2.0436013438308787s;"></div>
    <div class="bubble" style="--size:4.7015336194978445rem; --distance:8.731717600759715rem; --position:33.23848116574429%; --time:2.5035311489862524s; --delay:-2.538979139598143s;"></div>
    <div class="bubble" style="--size:2.9631038777119425rem; --distance:8.290224514531012rem; --position:18.54514672338785%; --time:2.845718093306961s; --delay:-3.758137162313553s;"></div>
    <div class="bubble" style="--size:2.7400072255904666rem; --distance:8.482827813714882rem; --position:94.2684122646104%; --time:3.2988354858279005s; --delay:-2.275274606867233s;"></div>
    <div class="bubble" style="--size:5.863369200824228rem; --distance:8.127474956837563rem; --position:84.16556787722166%; --time:2.4762765125968653s; --delay:-3.0628491598129246s;"></div>
    <div class="bubble" style="--size:2.173695921667761rem; --distance:6.972431535212009rem; --position:5.986144447679909%; --time:2.975349273027465s; --delay:-2.7935147293344516s;"></div>
    <div class="bubble" style="--size:2.2340689146888657rem; --distance:7.0312686737989845rem; --position:33.44077220674865%; --time:3.189736726924264s; --delay:-2.679067037842525s;"></div>
    <div class="bubble" style="--size:3.4338915746659rem; --distance:8.587495641250252rem; --position:45.3810369700496%; --time:2.960035721056661s; --delay:-3.5015725638437525s;"></div>
    <div class="bubble" style="--size:5.051670777838677rem; --distance:8.699900954424997rem; --position:23.76555318014788%; --time:3.654780207163447s; --delay:-2.472225374094569s;"></div>
    <div class="bubble" style="--size:3.483613691045141rem; --distance:7.050028386889502rem; --position:86.97208375549148%; --time:3.819901583520327s; --delay:-3.53315138330643s;"></div>
    <div class="bubble" style="--size:3.444671363989463rem; --distance:6.453927288343782rem; --position:37.915014611549914%; --time:3.8886960885217423s; --delay:-2.202753912587148s;"></div>
    <div class="bubble" style="--size:3.928089893122751rem; --distance:7.30722150439172rem; --position:14.743306905522743%; --time:2.717973267417662s; --delay:-3.4957029311015444s;"></div>
    <div class="bubble" style="--size:3.365796901263617rem; --distance:7.378533691426797rem; --position:4.246517601980376%; --time:3.581535227431523s; --delay:-2.9231597574003225s;"></div>
    <div class="bubble" style="--size:5.585302042195929rem; --distance:8.368371495603256rem; --position:7.05737682071835%; --time:2.107826119585469s; --delay:-3.0157271807620143s;"></div>
    <div class="bubble" style="--size:3.988694162172636rem; --distance:8.062713372103488rem; --position:2.5484050398236313%; --time:3.9057906627529793s; --delay:-2.723851858429461s;"></div>
    <div class="bubble" style="--size:3.8755320831471636rem; --distance:9.257200659975599rem; --position:83.81235172433759%; --time:2.2131719640893595s; --delay:-3.3374680269470893s;"></div>
    <div class="bubble" style="--size:5.390442089223319rem; --distance:7.465880003058533rem; --position:48.79197557125733%; --time:3.9018191877344517s; --delay:-3.0729553764989146s;"></div>
    <div class="bubble" style="--size:5.681345257233309rem; --distance:8.393199913026749rem; --position:-0.6062135944804385%; --time:3.527690962512596s; --delay:-2.1821522404297156s;"></div>
    <div class="bubble" style="--size:3.4013092768492585rem; --distance:6.4292155905253985rem; --position:44.193753112962916%; --time:3.729880262546334s; --delay:-3.2213223457950564s;"></div>
    <div class="bubble" style="--size:3.7445116911460987rem; --distance:9.739169651152505rem; --position:0.94954260198016%; --time:3.5493471964995837s; --delay:-3.803601307174844s;"></div>
    <div class="bubble" style="--size:3.901801752351413rem; --distance:8.518661615169357rem; --position:80.83845894713325%; --time:2.402947528107215s; --delay:-2.8308195921502453s;"></div>
    <div class="bubble" style="--size:2.813864435752893rem; --distance:8.796026193974562rem; --position:16.299792388788678%; --time:2.9220871826642405s; --delay:-2.503584630676888s;"></div>
    <div class="bubble" style="--size:3.842315799753984rem; --distance:9.821126343804107rem; --position:54.609450710059626%; --time:2.4380696473162136s; --delay:-2.179305229669588s;"></div>
    <div class="bubble" style="--size:4.031344735764205rem; --distance:9.008599438692581rem; --position:19.357745943079777%; --time:3.207112165756719s; --delay:-2.140585351573952s;"></div>
    <div class="bubble" style="--size:3.511993973466681rem; --distance:9.242872369225019rem; --position:27.51471976660055%; --time:3.7625959867015344s; --delay:-3.9470425425678073s;"></div>
    <div class="bubble" style="--size:4.791216690146294rem; --distance:7.820452807657216rem; --position:48.205295994310745%; --time:2.6453102508437785s; --delay:-2.9424334335290867s;"></div>
    <div class="bubble" style="--size:4.223724194636938rem; --distance:8.042476393800893rem; --position:40.344310231513376%; --time:3.1093994129333766s; --delay:-3.815789952801907s;"></div>
    <div class="bubble" style="--size:3.614461901076818rem; --distance:9.283665830496975rem; --position:26.457024620828633%; --time:3.793573020497435s; --delay:-3.7237089723507997s;"></div>
    <div class="bubble" style="--size:2.0830527476578817rem; --distance:8.34076371088841rem; --position:64.81965802488986%; --time:3.4724112858738194s; --delay:-3.6938631002349185s;"></div>
    <div class="bubble" style="--size:2.272957544536668rem; --distance:6.4093765385623005rem; --position:4.089869627095407%; --time:3.451459101276718s; --delay:-2.7789017701203216s;"></div>
    <div class="bubble" style="--size:5.033353850888997rem; --distance:9.811685715595045rem; --position:55.267353231624085%; --time:3.085529078970407s; --delay:-2.484879069612981s;"></div>
    <div class="bubble" style="--size:4.116163826645604rem; --distance:7.39132446135475rem; --position:85.615387604601%; --time:2.5562860489456156s; --delay:-3.764504540756712s;"></div>
    <div class="bubble" style="--size:3.144578431812084rem; --distance:8.613596356783965rem; --position:69.33527216661027%; --time:3.9407482033742722s; --delay:-3.2054919738741394s;"></div>
    <div class="bubble" style="--size:2.2056567353332515rem; --distance:8.405324486232782rem; --position:19.913675116855668%; --time:3.6738196520168973s; --delay:-2.634236036721505s;"></div>
    <div class="bubble" style="--size:2.550055809590141rem; --distance:6.256819431591678rem; --position:47.346714976552676%; --time:2.3817759392649993s; --delay:-2.875588231830347s;"></div>
    <div class="bubble" style="--size:3.2130899679480827rem; --distance:7.5459834919418rem; --position:1.715626020223655%; --time:3.4057590651781298s; --delay:-2.789191209982338s;"></div>
    <div class="bubble" style="--size:4.569828246863082rem; --distance:9.49031740075668rem; --position:47.91699649175052%; --time:2.0396493983745536s; --delay:-3.7151581400529077s;"></div>
    <div class="bubble" style="--size:5.6883812893022725rem; --distance:8.751709236939174rem; --position:40.89349431679696%; --time:3.253753776348942s; --delay:-3.150438154074114s;"></div>
    <div class="bubble" style="--size:2.4608531859997136rem; --distance:6.4930174680398185rem; --position:6.2028361190458305%; --time:3.530026858934467s; --delay:-2.113835058494498s;"></div>
    <div class="bubble" style="--size:5.824210751761454rem; --distance:8.626336727701537rem; --position:9.96913723339755%; --time:2.549700212313477s; --delay:-3.239007944347474s;"></div>
    <div class="bubble" style="--size:5.528052436192762rem; --distance:9.80755975274505rem; --position:85.72982109109763%; --time:3.097342652259779s; --delay:-2.8672681304747014s;"></div>
    <div class="bubble" style="--size:4.214434353272004rem; --distance:7.617324600415508rem; --position:24.23420606254331%; --time:2.5553980810666883s; --delay:-3.223417430674277s;"></div>
    <div class="bubble" style="--size:5.555783029314069rem; --distance:8.204207803497347rem; --position:7.9059336609392705%; --time:3.2652566907164067s; --delay:-3.9364057259173784s;"></div>
    <div class="bubble" style="--size:4.648536204698647rem; --distance:7.011600090831735rem; --position:91.21994669667698%; --time:2.4450086724475972s; --delay:-2.172317252574848s;"></div>
    <div class="bubble" style="--size:3.3816730800696524rem; --distance:6.733461083044202rem; --position:46.02443338141381%; --time:2.9410887064727365s; --delay:-3.162180805610291s;"></div>
    <div class="bubble" style="--size:2.2735471673546197rem; --distance:6.2275488596931rem; --position:12.309532616469834%; --time:3.481550361480901s; --delay:-2.081715494038359s;"></div>
    <div class="bubble" style="--size:5.939168594412747rem; --distance:6.855940700808365rem; --position:79.55659461642912%; --time:3.7795171903333444s; --delay:-2.2095745185987137s;"></div>
    <div class="bubble" style="--size:5.497820449588079rem; --distance:7.49738960499433rem; --position:47.70313593327774%; --time:2.974966848011019s; --delay:-3.234906100192395s;"></div>
    <div class="bubble" style="--size:2.423962581848719rem; --distance:6.742437203814945rem; --position:96.05430794350069%; --time:2.103580662893436s; --delay:-2.829121958743258s;"></div>
    <div class="bubble" style="--size:4.9828293754338935rem; --distance:9.51610826727082rem; --position:42.346692252841734%; --time:3.9606009626408243s; --delay:-2.3314487325554816s;"></div>
    <div class="bubble" style="--size:4.212455445905317rem; --distance:9.53311360984607rem; --position:71.32456486886872%; --time:2.5272450603176377s; --delay:-3.8538837726824346s;"></div>
    <div class="bubble" style="--size:3.7078613889022085rem; --distance:8.689956341067687rem; --position:14.192821047806092%; --time:2.600931834813546s; --delay:-2.7056508605132024s;"></div>
    <div class="bubble" style="--size:4.0624468722870555rem; --distance:9.141198666103705rem; --position:35.281591416123526%; --time:3.137178425885257s; --delay:-3.543915519197896s;"></div>
    <div class="bubble" style="--size:2.63000439038821rem; --distance:6.548945644716606rem; --position:43.14032233417029%; --time:2.384431453530529s; --delay:-2.535609250607488s;"></div>
    <div class="bubble" style="--size:3.9035969012140326rem; --distance:8.653825082831062rem; --position:47.83776324615652%; --time:2.086060486893704s; --delay:-3.631109387831335s;"></div>
    <div class="bubble" style="--size:5.321132688325952rem; --distance:9.997703067253461rem; --position:71.23864487055343%; --time:2.760170266012692s; --delay:-2.782135416046686s;"></div>
    <div class="bubble" style="--size:5.0242595569248625rem; --distance:8.969841361013035rem; --position:10.195164663351473%; --time:2.4548417697257907s; --delay:-2.4590473507100374s;"></div>
    <div class="bubble" style="--size:3.6788937664291455rem; --distance:8.393493549186864rem; --position:84.50488622642513%; --time:2.4662440892365636s; --delay:-2.6278952916551668s;"></div>
    <div class="bubble" style="--size:4.060500577413838rem; --distance:8.19490879768938rem; --position:71.92591322088948%; --time:2.532302017658518s; --delay:-2.6437260259429145s;"></div>
    <div class="bubble" style="--size:4.223257778012948rem; --distance:7.69419047165499rem; --position:61.26611132736451%; --time:3.6492960800310414s; --delay:-3.414713379175536s;"></div>
    <div class="bubble" style="--size:4.754951399462618rem; --distance:8.610166375123118rem; --position:37.162685440115446%; --time:3.2421866319370953s; --delay:-2.346526101910792s;"></div>
    <div class="bubble" style="--size:2.447526779033554rem; --distance:9.916649718454524rem; --position:-3.3563758408933775%; --time:3.369128784422149s; --delay:-3.1380117510222085s;"></div>
    <div class="bubble" style="--size:4.281810605177807rem; --distance:8.445128261806868rem; --position:95.75864887104555%; --time:2.0769251583634114s; --delay:-2.8332105958845935s;"></div>
    <div class="bubble" style="--size:3.842172664765325rem; --distance:7.333108086263737rem; --position:88.9733824049221%; --time:3.479172277001549s; --delay:-2.54753830357623s;"></div>
    <div class="bubble" style="--size:3.2635964380332982rem; --distance:8.0394037148136rem; --position:7.276290518752928%; --time:2.9089307582615107s; --delay:-3.572574050675107s;"></div>
    <div class="bubble" style="--size:2.222553922017502rem; --distance:9.810700528670349rem; --position:47.120452757087996%; --time:3.3616729126293654s; --delay:-3.8910134183678142s;"></div>
    <div class="bubble" style="--size:2.146612325957923rem; --distance:7.938430561464894rem; --position:86.54122697398059%; --time:2.9688028888932836s; --delay:-3.3376102468379036s;"></div>
    <div class="bubble" style="--size:4.703076116334697rem; --distance:7.944907418806843rem; --position:21.639719252561243%; --time:3.9328176294242287s; --delay:-2.9929591915598714s;"></div>
    <div class="bubble" style="--size:5.065837048526666rem; --distance:9.905349856002227rem; --position:46.48174069051858%; --time:2.0732179948893203s; --delay:-2.973960163283931s;"></div>
    <div class="bubble" style="--size:4.723578385504378rem; --distance:6.316142452636239rem; --position:81.72609683093005%; --time:3.9279132291405285s; --delay:-3.7525283985407714s;"></div>
    <div class="bubble" style="--size:2.1425300231801607rem; --distance:8.827667887708959rem; --position:43.209012561436936%; --time:3.3232503958667152s; --delay:-2.267908568584832s;"></div>
    <div class="bubble" style="--size:2.567976801564609rem; --distance:8.072870498017512rem; --position:80.64642244943532%; --time:3.9142336165488048s; --delay:-3.0295135244380136s;"></div>
    <div class="bubble" style="--size:5.861572507584932rem; --distance:6.654166872140097rem; --position:89.57192674135602%; --time:2.7515474762446566s; --delay:-3.6552096455970964s;"></div>
    <div class="bubble" style="--size:4.337686133480999rem; --distance:9.771683080370536rem; --position:64.28026139471882%; --time:3.32393907865604s; --delay:-2.40558868241871s;"></div>
    <div class="bubble" style="--size:5.111148531561482rem; --distance:8.506518521563866rem; --position:49.830305661016936%; --time:3.989539852746901s; --delay:-2.5826790401278474s;"></div>
    <div class="bubble" style="--size:3.677629410071697rem; --distance:8.455114239681114rem; --position:76.136551152144%; --time:3.36158527408867s; --delay:-3.0760265841416845s;"></div>
    <div class="bubble" style="--size:4.7071483334487105rem; --distance:8.300520762346398rem; --position:66.48878042414562%; --time:2.0786998862995563s; --delay:-2.7280216080943167s;"></div>
    <div class="bubble" style="--size:2.091764127619305rem; --distance:7.845018474184069rem; --position:59.67976910195891%; --time:3.6313090774820522s; --delay:-2.359920837306993s;"></div>
    <div class="bubble" style="--size:3.045643203345681rem; --distance:7.357514489642247rem; --position:82.06014342823954%; --time:3.5935057024868997s; --delay:-2.8598583782038713s;"></div>
    <div class="bubble" style="--size:3.494780053050004rem; --distance:8.601375862674296rem; --position:-1.2550659514720297%; --time:2.336917286664468s; --delay:-3.2779201269358986s;"></div>
    <div class="bubble" style="--size:4.214960585256177rem; --distance:8.51353195040915rem; --position:15.61103478137657%; --time:3.4669728772118007s; --delay:-2.3716947395644348s;"></div>
    <div class="bubble" style="--size:2.770252058500331rem; --distance:7.169585861280664rem; --position:24.428469833008872%; --time:3.08087170588457s; --delay:-2.8699857308425436s;"></div>
    <div class="bubble" style="--size:3.298061233149773rem; --distance:7.348000247128845rem; --position:81.53706404489218%; --time:2.647586537309585s; --delay:-3.256314809723472s;"></div>
    <div class="bubble" style="--size:2.9223131112350202rem; --distance:9.693299993105338rem; --position:31.680302127375697%; --time:2.482921724041467s; --delay:-2.243645541031223s;"></div>
    <div class="bubble" style="--size:4.807174953337145rem; --distance:8.772045191249209rem; --position:51.30304762937345%; --time:2.18492797556525s; --delay:-3.023558400223254s;"></div>
    <div class="bubble" style="--size:3.3242596395480053rem; --distance:7.825243776809574rem; --position:79.32165957029994%; --time:2.1908728261600117s; --delay:-2.509368804637625s;"></div>
    <div class="bubble" style="--size:3.9725032586222992rem; --distance:8.722730907252519rem; --position:42.90025259026734%; --time:3.0220304167983776s; --delay:-3.2182282118789924s;"></div>
    <div class="bubble" style="--size:4.062633330447224rem; --distance:9.4197424746947rem; --position:96.39070527060893%; --time:2.6232846783613692s; --delay:-2.715162515390435s;"></div>
    <div class="bubble" style="--size:5.246204785161372rem; --distance:6.5862549279034175rem; --position:8.713020749621641%; --time:2.3030452995114032s; --delay:-2.2256095761080843s;"></div>
    <div class="bubble" style="--size:4.983741530911755rem; --distance:6.832369609390391rem; --position:7.427231673810246%; --time:2.462234991154914s; --delay:-3.459812072201712s;"></div>
    <div class="bubble" style="--size:2.739370671333818rem; --distance:9.212752506305609rem; --position:17.053372868469555%; --time:3.3949554676759544s; --delay:-3.992223142524196s;"></div>
    <div class="bubble" style="--size:5.241211181484107rem; --distance:9.867711916519639rem; --position:64.89411906101051%; --time:3.3184022883669964s; --delay:-3.442941593801275s;"></div>
    <div class="bubble" style="--size:2.9679098976856952rem; --distance:8.020738132443274rem; --position:7.050547484967433%; --time:3.286370808255861s; --delay:-2.237141287850278s;"></div>
    <div class="bubble" style="--size:5.603012257102505rem; --distance:6.432263797899748rem; --position:90.10893272407343%; --time:3.110047169860939s; --delay:-3.74848331185169s;"></div>
    <div class="bubble" style="--size:3.032610930139965rem; --distance:7.584005342273263rem; --position:32.75444131048333%; --time:3.328549050437735s; --delay:-3.0152636730521736s;"></div>
    <div class="bubble" style="--size:3.4035799245873744rem; --distance:6.411562328161767rem; --position:83.14713016702221%; --time:2.8860031721255033s; --delay:-3.51524102478215s;"></div>
    <div class="bubble" style="--size:5.008237570737298rem; --distance:9.243401435949608rem; --position:86.36467628532598%; --time:3.289895950037262s; --delay:-3.3995527649479658s;"></div>
    <div class="bubble" style="--size:3.0645029372200634rem; --distance:6.169915121561433rem; --position:5.541575807760651%; --time:2.201507817592105s; --delay:-3.940144055602501s;"></div>
    <div class="bubble" style="--size:2.062456552656636rem; --distance:7.286134082777229rem; --position:62.29683854208116%; --time:2.494711147260779s; --delay:-3.4660604227502407s;"></div>
    <div class="bubble" style="--size:4.803122147128076rem; --distance:9.49788053695011rem; --position:62.99912390325616%; --time:3.342865447043567s; --delay:-2.5532737853430025s;"></div>
    <div class="bubble" style="--size:5.839344547166875rem; --distance:6.212345478948638rem; --position:42.06624916887199%; --time:2.5057561701488567s; --delay:-2.234568166735407s;"></div>
    <div class="bubble" style="--size:5.477040052859322rem; --distance:8.692139828213037rem; --position:28.870400884472502%; --time:3.6980109771512777s; --delay:-3.178733350169835s;"></div>
    <div class="bubble" style="--size:5.512115805398674rem; --distance:6.70367257890026rem; --position:29.739287793599118%; --time:2.481570542287357s; --delay:-3.5032242956386073s;"></div>
    <div class="bubble" style="--size:3.405556507826084rem; --distance:8.291277906340977rem; --position:44.21613095511204%; --time:2.1306738709964255s; --delay:-2.8011410280305924s;"></div>
    <div class="bubble" style="--size:2.881034520111042rem; --distance:7.299338366380878rem; --position:12.055442700272906%; --time:3.8996635747065764s; --delay:-2.236071298533722s;"></div>
    <div class="bubble" style="--size:2.6591571703352086rem; --distance:7.528759639354481rem; --position:70.04270178742611%; --time:2.2601816488892035s; --delay:-2.31761089648189s;"></div>
    <div class="bubble" style="--size:2.4583381757361895rem; --distance:8.324743348815083rem; --position:80.46281267972037%; --time:3.427581284746255s; --delay:-2.0596474334505177s;"></div>
    <div class="bubble" style="--size:4.547840152110141rem; --distance:7.313084573751192rem; --position:92.24698414453891%; --time:2.7565059275843202s; --delay:-2.3305777691595826s;"></div>
    <div class="bubble" style="--size:4.1794523037492635rem; --distance:9.093523690130514rem; --position:85.49642051205844%; --time:3.3311070771957394s; --delay:-3.619975261065711s;"></div>
    <div class="bubble" style="--size:3.2939134040308975rem; --distance:9.848311559768621rem; --position:92.26731186468946%; --time:2.490956107864015s; --delay:-3.0368810521370637s;"></div>
    <div class="bubble" style="--size:3.1602058116091047rem; --distance:9.512610998402646rem; --position:45.835971218992896%; --time:2.108594085466756s; --delay:-2.370554287711058s;"></div>
  </div>
  <div class="content">
    <footer>
    <div class="row">
      <div class="col-6 col-md-2 mb-3">
        <h5 style="color:white;">Section</h5>
        <ul class="nav flex-column">
  <li class="nav-item mb-2" style="color: white;">
    <a href="#" class="nav-link" style="color: white;">Home</a>
  </li>
  <li class="nav-item mb-2" style="color: white;">
    <a href="#" class="nav-link" style="color: white;">Features</a>
  </li>
  <li class="nav-item mb-2" style="color: white;">
    <a href="#" class="nav-link" style="color: white;">Pricing</a>
  </li>
  <li class="nav-item mb-2" style="color: white;">
    <a href="#" class="nav-link" style="color: white;">FAQs</a>
  </li>
  <li class="nav-item mb-2" style="color: white;">
    <a href="#" class="nav-link" style="color: white;">About</a>
  </li>
</ul>
      </div>

      <div class="col-6 col-md-2 mb-3">
  <h5 style="color: white;">Section</h5>
  <ul class="nav flex-column">
    <li class="nav-item mb-2">
      <a href="#" class="nav-link" style="color: white;">Home</a>
    </li>
    <li class="nav-item mb-2">
      <a href="#" class="nav-link" style="color: white;">Features</a>
    </li>
    <li class="nav-item mb-2">
      <a href="#" class="nav-link" style="color: white;">Pricing</a>
    </li>
    <li class="nav-item mb-2">
      <a href="#" class="nav-link" style="color: white;">FAQs</a>
    </li>
    <li class="nav-item mb-2">
      <a href="#" class="nav-link" style="color: white;">About</a>
    </li>
  </ul>
</div>

<div class="col-6 col-md-2 mb-3">
  <h5 style="color: white;">Section</h5>
  <ul class="nav flex-column">
    <li class="nav-item mb-2">
      <a href="#" class="nav-link" style="color: white;">Home</a>
    </li>
    <li class="nav-item mb-2">
      <a href="#" class="nav-link" style="color: white;">Features</a>
    </li>
    <li class="nav-item mb-2">
      <a href="#" class="nav-link" style="color: white;">Pricing</a>
    </li>
    <li class="nav-item mb-2">
      <a href="#" class="nav-link" style="color: white;">FAQs</a>
    </li>
    <li class="nav-item mb-2">
      <a href="#" class="nav-link" style="color: white;">About</a>
    </li>
  </ul>
</div>


      <div class="col-md-5 offset-md-1 mb-3">
        <form>
          <h5 class="p-1" style="color:black;">Subscribe to our newsletter</h5>
          <p class="pt-1 pb-3">Monthly digest of what's new and exciting from us.</p>
          <div class="d-flex flex-column flex-sm-row w-100 gap-2">
            <label for="newsletter1" class="visually-hidden">Email address</label>
            <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
            <button class="footer-btn" type="button">Subscribe</button>
          </div>
        </form>
      </div>
    </div>

    <div class="d-flex flex-column flex-sm-row justify-content-between   border-top">
      <p class="mt-3">© 2024 VIVACITY, Inc. All rights reserved.</p>
      <ul class="list-unstyled d-flex">
        <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
        <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
        <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
      </ul>
    </div>
  </footer>
  </div>
</div>
<svg style="position:fixed; top:100vh">
  <defs>
    <filter id="blob">
      <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur"></feGaussianBlur>
      <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="blob"></feColorMatrix>
      <!--feComposite(in="SourceGraphic" in2="blob" operator="atop") //After reviewing this after years I can't remember why I added this but it isn't necessary for the blob effect-->
    </filter>
  </defs>
</svg>
