<div class="footer">
  <div class="footer-content">
    <!-- For Personal Section -->
    <div class="footer-section">
      <img src="https://res.cloudinary.com/dneopsx5s/image/upload/v1721648083/VIVA_CITY_v0tse4.png" alt="Vivacity Logo">
      <ul>
        <li>123 Example Street, Casablanca</li>
        <li>(+212) 660-000000</li>
        <li><a href="mailto:Vivacity@gmail.com">Vivacity@gmail.com</a></li>
        <li><a href="http://www.vivacity.ma">www.vivacity.ma</a></li>
      </ul>
    </div>
    <!-- Company Section -->
    <div class="footer-section">
      <h5>Company</h5>
      <ul>
        <li><a href="#">About Us</a></li>
        <li><a href="#">How it works</a></li>
      </ul>
    </div>
    <!-- Connect with Us Section -->
    <div class="footer-section">
      <h5>Connect with us</h5>
      <ul>
        <li><a href="#">Contact Us</a></li>
      </ul>
    </div>
    <!-- Email Subscription Section -->
    <div class="footer-section">
      <h5>Subscribe</h5>
      <form action="#" method="post">
        <input type="email" placeholder="Your email address" required>
        <button type="submit" class="btn btn-footer">Subscribe</button>
      </form>
      <div class="social-icons mt-2">
        <a href="#"><i class="fab fa-linkedin-in"></i></a>
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div>
      <p class="mb-0">Copyright © 2024, Vivacity Technology Limited</p>
    </div>
    <div>
      <a href="#" class="me-2">Privacy Policy</a>
      <a href="#">Cookie Policy</a>
    </div>
  </div>
</div>
