<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

<div id="homepage">
  <header>
    <div class="hero-image">
      <div class="hero-text">
        <h1></h1>
        <p></p>
        <button></button>
      </div>
    </div>
  </header>

<section class="events">
  <h1>Our mission</h1>
  <p>Our mission is to enrich urban life by centralizing all the fun events happening in your city. We aim to foster connections and enhance <br>cultural and social experiences for both locals and visitors, celebrating the diversity and vibrancy of city living in Morocco.</p>
  <div class="row">
    <div class="event-col">
      <img src="https://images.unsplash.com/photo-1470229722913-7c0e2dbbafd3?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Y29uY2VydHxlbnwwfHwwfHx8Mg%3D%3D">
      <h3>Music</h3>
      <p>Experience the city's rhythm with concerts, live music, and vibrant clubbing scenes.</p>
    </div>
  <div class="event-col">
    <img src="https://images.unsplash.com/photo-1544367567-0f2fcb009e0b?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8eW9nYXxlbnwwfHwwfHx8Mg%3D%3D">
      <h3>Wellness</h3>
      <p>Rejuvenate your mind and body with yoga, fitness classes, and other wellness activities.</p>
    </div>
  <div class="event-col">
    <img src="https://images.unsplash.com/photo-1550096141-7263640aa48c?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjV8fGNvbW11bml0eXxlbnwwfHwwfHx8Mg%3D%3D">
      <h3>Community</h3>
      <p>Connect with others through engaging community events and social gatherings.</p>
    </div>
      <div class="event-col">
        <img src="https://images.unsplash.com/photo-1544928147-79a2dbc1f389?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mzd8fHdvcmtzaG9wfGVufDB8fDB8fHwy">
      <h3>Workshops</h3>
      <p>Learn and create with hands-on workshops across various interests and skills.</p>
    </div>
      <div class="event-col">
        <img src="https://images.unsplash.com/photo-1639763703351-c27defbb51b1?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8dG91ciUyMGd1aWRlfGVufDB8fDB8fHwy">
      <h3>Tours</h3>
      <p>Discover the city’s hidden gems with guided tours and unique local experiences.</p>
    </div>
        <div class="event-col">
          <img src="https://images.unsplash.com/photo-1683117855296-979f17e62e87?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
      <h3>Shows</h3>
      <p>Enjoy a night of laughter with stand-up comedy, improv shows, and karaoke sessions.</p>
    </div>
  </div>
</section>

<section class="cities">
  <h1>Cities</h1>
<div class="row">
    <div class="cities-col">
      <img src="https://images.unsplash.com/photo-1563391885292-86a899110f1a?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjZ8fGFnYWRpcnxlbnwwfHwwfHx8MA%3D%3D">
      <div class="layer"><h3>AGADIR</h3></div>
    </div>
  <div class="cities-col">
    <img src="https://plus.unsplash.com/premium_photo-1697730075333-822144628df6?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8bWFycmFrZWNofGVufDB8fDB8fHww">
      <div class="layer"><h3>MARRAKECH</h3></div>
    </div>
  <div class="cities-col">
    <img src="https://images.unsplash.com/photo-1549493207-01fc1d4569b6?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8Y2FzYWJsYW5jYXxlbnwwfHwwfHx8Mg%3D%3D">
      <div class="layer"><h3>CASABLANCA</h3></div>
    </div>
    <div class="cities-col">
    <img src="https://images.unsplash.com/photo-1624802704371-c76faa34c3a0?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
        <div class="layer"><h3>ESSAOUIRA</h3></div>
    </div>
    <div class="cities-col">
    <img src="https://images.unsplash.com/photo-1530524860884-57eb29dac21b?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjB8fHJhYmF0fGVufDB8fDB8fHwy">
      <div class="layer"><h3>RABAT</h3></div>
    </div>
    <div class="cities-col">
      <img src="https://images.unsplash.com/photo-1582919534700-acf2374f10d3?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8dGFuZ2llcnxlbnwwfHwwfHx8Mg%3D%3D">
        <div class="layer"><h3>TANGIER</h3></div>
    </div>
  </div>
</section>

<section class="cities">
    <h1>trending</h1>
    <p>insert event cards from the database here</p>
</section>

<section class="cities">
    <h1>trending</h1>
    <p>insert event cards from the database here</p>
</section>
</div>
