<div id="homepage">
  <header>
    <div class="hero-image">
      <div class="hero-text">
        <h1></h1>
        <p></p>
        <button></button>
      </div>
    </div>
  </header>

<section class="events">
  <h1>Our mission</h1>
  <p>Our mission is to enrich urban life by centralizing all the fun events happening in your city. We aim to foster connections and enhance <br>cultural and social experiences for both locals and visitors, celebrating the diversity and vibrancy of city living in Morocco.</p>
  <div class="row">
    <div class="event-col">
      <img src="https://images.unsplash.com/photo-1470229722913-7c0e2dbbafd3?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Y29uY2VydHxlbnwwfHwwfHx8Mg%3D%3D">
      <h3>Music</h3>
      <p>Experience the city's rhythm with concerts, live music, and vibrant clubbing scenes.</p>
    </div>
  <div class="event-col">
    <img src="https://images.unsplash.com/photo-1544367567-0f2fcb009e0b?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8eW9nYXxlbnwwfHwwfHx8Mg%3D%3D">
      <h3>Wellness</h3>
      <p>Rejuvenate your mind and body with yoga, fitness classes, and other wellness activities.</p>
    </div>
  <div class="event-col">
    <img src="https://images.unsplash.com/photo-1550096141-7263640aa48c?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjV8fGNvbW11bml0eXxlbnwwfHwwfHx8Mg%3D%3D">
      <h3>Community</h3>
      <p>Connect with others through engaging community events and social gatherings.</p>
    </div>
      <div class="event-col">
        <img src="https://images.unsplash.com/photo-1544928147-79a2dbc1f389?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mzd8fHdvcmtzaG9wfGVufDB8fDB8fHwy">
      <h3>Workshops</h3>
      <p>Learn and create with hands-on workshops across various interests and skills.</p>
    </div>
      <div class="event-col">
        <img src="https://images.unsplash.com/photo-1639763703351-c27defbb51b1?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8dG91ciUyMGd1aWRlfGVufDB8fDB8fHwy">
      <h3>Tours</h3>
      <p>Discover the city’s hidden gems with guided tours and unique local experiences.</p>
    </div>
        <div class="event-col">
          <img src="https://images.unsplash.com/photo-1683117855296-979f17e62e87?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
      <h3>Shows</h3>
      <p>Enjoy a night of laughter with stand-up comedy, improv shows, and karaoke sessions.</p>
    </div>
  </div>
</section>

<section class="cities">
  <h1>Cities</h1>
<div class="row">
    <div class="cities-col">
      <img src="https://images.unsplash.com/photo-1563391885292-86a899110f1a?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjZ8fGFnYWRpcnxlbnwwfHwwfHx8MA%3D%3D">
      <div class="layer"><h3>AGADIR</h3></div>
    </div>
  <div class="cities-col">
    <img src="https://plus.unsplash.com/premium_photo-1697730075333-822144628df6?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8bWFycmFrZWNofGVufDB8fDB8fHww">
      <div class="layer"><h3>MARRAKECH</h3></div>
    </div>
  <div class="cities-col">
    <img src="https://images.unsplash.com/photo-1549493207-01fc1d4569b6?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8Y2FzYWJsYW5jYXxlbnwwfHwwfHx8Mg%3D%3D">
      <div class="layer"><h3>CASABLANCA</h3></div>
    </div>
    <div class="cities-col">
    <img src="https://images.unsplash.com/photo-1624802704371-c76faa34c3a0?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
        <div class="layer"><h3>ESSAOUIRA</h3></div>
    </div>
    <div class="cities-col">
    <img src="https://images.unsplash.com/photo-1530524860884-57eb29dac21b?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjB8fHJhYmF0fGVufDB8fDB8fHwy">
      <div class="layer"><h3>RABAT</h3></div>
    </div>
    <div class="cities-col">
      <img src="https://images.unsplash.com/photo-1582919534700-acf2374f10d3?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8dGFuZ2llcnxlbnwwfHwwfHx8Mg%3D%3D">
        <div class="layer"><h3>TANGIER</h3></div>
    </div>
  </div>
</section>
    <center><h1>Reviews</h1></center>
<section class="cities"><div class="reviews-section">
    <div class="review-card">
      <div class="reviewer-info">
            <img src="https://images.unsplash.com/photo-1619996107119-31de3403d467?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjR8fHdvbWFuJTIwcHJvZmlsZXxlbnwwfHwwfHx8Mg%3D%3D" alt="Tania Tumulto">
            <div>
                <h4>Tania Tumulto</h4>
                <p>Brazilian user <span>@falameuanjo</span></p><br>
            </div>
        </div>
        <blockquote>
            <br><p>   Shotgun is everything Facebook Event app tried to be but never was.</p>
        </blockquote>
    </div>

    <div class="review-card">
<div class="reviewer-info">
            <img src="https://images.unsplash.com/photo-1557862921-37829c790f19?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8bWFuJTIwcHJvZmlsZXxlbnwwfHwwfHx8Mg%3D%3D" alt="Mike">
            <div>
                <h4>Mike</h4>
                <p>Founder <span>@Heretik, french collective</span></p><br>
            </div>
        </div>
        <blockquote>
            <br><p>   We put tickets on Shotgun for our last party, there were hundreds of ticket sold before we even announced; that’s when we understood Shotgun was now more powerful than Facebook to sell tickets and is now incontournable.</p>
        </blockquote>

    </div>

    <div class="review-card">
      <div class="reviewer-info">
            <img src="https://images.unsplash.com/photo-1589386417686-0d34b5903d23?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTR8fHlvdW5nJTIwd29tYW58ZW58MHx8MHx8fDI%3D" alt="Jacob Jones">
            <div>
                <h4>Jacob Jones</h4>
                <p>Founder <span>@Tramafestival</span></p><br>
            </div>
        </div>
        <blockquote>
            <br><p>   I loved this ticketing system! Perfect!!!! We were in the middle of the forest with low signal and everything worked perfectly.</p>
        </blockquote>
    </div>

    <div class="review-card">
       <div class="reviewer-info">
            <img src="https://images.unsplash.com/photo-1524159730786-4e74a1b78d7d?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fHlvdW5nJTIwd29tYW58ZW58MHx8MHx8fDI%3D" alt="Marie Auvillain">
            <div>
                <h4>Marie Auvillain</h4>
                <p>French user <span>@m.the.villain</span></p><br>
            </div>
        </div>
        <blockquote>
            <br><p>   Shotgun, the only app we kept on our smartphone despite the lockdowns.</p>
        </blockquote>

    </div>
</div>
</section>

<section class="partners">
  <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Flogodix.com%2Flogo%2F1181634.png&f=1&nofb=1&ipt=d16c466aa8622110daffcbc7f44842c01cc8297fe9c48b7ae38d8b32151b6e5b&ipo=images" alt="">
  <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.sefacsma.fr%2Fwp-content%2Fuploads%2F2019%2F10%2Flogoweb-megarama.png&f=1&nofb=1&ipt=fc35b7958b9bd9ceddff8bc755ffdbae2d38fe439c142c2ede1a6d1ee69f1b08&ipo=images" alt="">
  <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Flogos-world.net%2Fwp-content%2Fuploads%2F2021%2F03%2FTicketmaster-Logo.png&f=1&nofb=1&ipt=153d151db82671c1a34c5972442ae49371b5196469fdab7a344694c318c1674b&ipo=images" alt="">
  <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2F99designs-blog.imgix.net%2Fblog%2Fwp-content%2Fuploads%2F2017%2F06%2Fgeneric-yoga-logo.png%3Fauto%3Dformat%26q%3D60%26fit%3Dmax%26w%3D930&f=1&nofb=1&ipt=36ffca76fa15a21788e8fc27549c1ca51536397dafd6970aa93cb5bb48eafb17&ipo=images" alt="">
  <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.logolynx.com%2Fimages%2Flogolynx%2Ffa%2Ffa6fd7dbe987bf5d47b59eb613db7639.png&f=1&nofb=1&ipt=79c59e0f994f95c37184e997630cabee318cc298b61ae55f9c06f877a697ce41&ipo=images" alt="">
  <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.logolynx.com%2Fimages%2Flogolynx%2Fe4%2Fe441954a591530eaa15adf7bee29dac7.png&f=1&nofb=1&ipt=743436c3e27ccfb84d420d74674b462e8659104f3467dcce8f544ca390edaac0&ipo=images" alt="">
  <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.large.fr%2Fwp-content%2Fuploads%2F2020%2F02%2Fsofitel_logo_2.png&f=1&nofb=1&ipt=7ad525d94c7a3327338e68f2d1cd6894684cabab828db0a460a6cc7b329d663a&ipo=images" alt="">
  <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.zarla.com%2Fimages%2Fzarla-tip-top-labs-1x1-2400x2400-20230930-9dckwqdbfqy6h9mxjvcq.png%3Fcrop%3D1%3A1%2Csmart%26width%3D250%26dpr%3D2&f=1&nofb=1&ipt=15556ba9b8acab80e69ce9ec5d34aa348bc0a065921ff332d691b3d7724f238c&ipo=images" alt="">
  <img src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fclipart-library.com%2Fimages_k%2Fyoga-transparent%2Fyoga-transparent-18.png&f=1&nofb=1&ipt=5a973b849a77c12b808acdfd5d2565a8bae3db079ecd4cc055d872eff53d8117&ipo=images" alt="">
</section>
</div>
