.navbar-lewagon {
  justify-content: space-between;
  background: #fefafa;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-toggler {
  border: none;
}

.search-input {
  flex: 0.5;
  /* Allow search bar to expand */
  margin-right: 1rem;
  /* Space between search bar and other elements */
}

.search-input .form-control {
  border-radius: 0.25rem;
  /* Rounded corners */
  height: 2rem;
  width: 200px;
  /* Adjust height */
}

.search-input .btn {
  border-radius: 0.25rem;
  margin-left: 5px;
  /* Rounded corners */
  height: 2rem;
  /* Match button height */
  padding: 0.25rem 0.5rem;
  /* Adjust padding */
}
.avatar:hover {
  cursor: pointer;
}

.navbar-nav {
  letter-spacing: 0.2px;
  font-size: 16px;
  font-weight: 500;
  text-transform: lowercase;
}
