.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px; /* Reduced gap between items */
  margin-top: 40px;
}

.pagination .page-link,
.first a,
.last a,
.previous-button,
.next-button {
  display: inline-block;
  padding: 6px 12px; /* Consistent padding */
  margin: 0;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  background-color: #025956;
  text-decoration: none;
  border-radius: 4px;
  text-align: center;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

.pagination .page-link:hover,
.first a:hover,
.last a:hover,
.previous-button:hover,
.next-button:hover {
  background-color: #014d43;
  color: #e0e0e0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.pagination .page-link.active {
  background-color: #004d40;
  color: #ffffff;
}

.pagination .page-link.disabled {
  background-color: #d1d1d1;
  color: #7a7a7a;
  cursor: not-allowed;
}

/* First and Last buttons */
.first a,
.last a {
  position: relative;
  padding: 6px 20px; /* Consistent padding */
  clip-path: polygon(20% 0%, 100% 0%, 80% 100%, 0% 100%);
}

/* Previous Button */
.previous-button {
  border-radius: 20px 0 0 20px;
  position: relative;
  display: inline-flex;
  align-items: center;
  border: 1px solid #025956;
  color: #025956;
  background-color: #fefafa;
}

/* Next Button */
.next-button {
  border-radius: 0 20px 20px 0;
  position: relative;
  display: inline-flex;
  align-items: center;
  border: 1px solid #025956;
  color: #025956;
  background-color: #fefafa;
}
